In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [52]:
# load in excel sheets
xls = pd.ExcelFile('Basketball_dataset_clean_2.xlsx')
final_records = pd.read_excel(xls, 0)
game_records = pd.read_excel(xls, list(range(1,69)))

In [53]:
# calculate score differential for all games
for i in range(1,69):
    game_records[i]['Opponent'] = game_records[i]['Opponent'].str.replace(r'\(\d+\)', '', regex=True)
    game_records[i]['Opponent'] = game_records[i]['Opponent'].str.strip()
    game_records[i]['Score_diff'] = game_records[i]['Tm'] - game_records[i]['Opp']
    game_records[i]['Score_diff_norm'] = game_records[i]['Score_diff'] / (game_records[i]['Tm'] + game_records[i]['Opp']) 
    game_records[i]['Score_diff_ratio'] = game_records[i]['Tm'] / game_records[i]['Opp']
    game_records[i]['Score_diff_ratio'] = np.where(game_records[i]['Score_diff_ratio'] > 1, game_records[i]['Score_diff_ratio'], np.reciprocal(game_records[i]['Score_diff_ratio']) )

In [54]:
print(game_records[13])

     G             Date    Type          Opponent W/L   Tm  Opp  Score_diff  \
0    1   Mon Nov 6 2023     REG         Dartmouth   W   92   54          38
1    2  Fri Nov 10 2023     REG           Arizona   L   73   78          -5
2    3  Tue Nov 14 2023     REG    Michigan State   W   74   65           9
3    4  Fri Nov 17 2023     REG          Bucknell   W   90   60          30
4    5  Tue Nov 21 2023     REG          La Salle   W   95   66          29
5    6  Fri Nov 24 2023     REG  Southern Indiana   W   80   62          18
6    7  Wed Nov 29 2023     REG          Arkansas   L   75   80          -5
7    8   Sat Dec 2 2023     REG      Georgia Tech   L   68   72          -4
8    9   Sat Dec 9 2023     REG         Charlotte   W   80   56          24
9   10  Tue Dec 12 2023     REG           Hofstra   W   89   68          21
10  11  Wed Dec 20 2023     REG            Baylor   W   78   70           8
11  12  Sat Dec 30 2023     REG       Queens (NC)   W  106   69          37
12  13   Tue Jan 2 2024     REG          Syracuse   W   86   66          20
13  14   Sat Jan 6 2024     REG        Notre Dame   W   67   59           8
14  15   Tue Jan 9 2024     REG        Pittsburgh   W   75   53          22
15  16  Sat Jan 13 2024     REG      Georgia Tech   W   84   79           5
16  17  Sat Jan 20 2024     REG        Pittsburgh   L   76   80          -4
17  18  Tue Jan 23 2024     REG        Louisville   W   83   69          14
18  19  Sat Jan 27 2024     REG           Clemson   W   72   71           1
19  20  Mon Jan 29 2024     REG     Virginia Tech   W   77   67          10
20  21   Sat Feb 3 2024     REG    North Carolina   L   84   93          -9
21  22   Wed Feb 7 2024     REG        Notre Dame   W   71   53          18
22  23  Sat Feb 10 2024     REG    Boston College   W   80   65          15
23  24  Mon Feb 12 2024     REG       Wake Forest   W   77   69           8
24  25  Sat Feb 17 2024     REG     Florida State   W   76   67           9
25  26  Wed Feb 21 2024     REG        Miami (FL)   W   84   55          29
26  27  Sat Feb 24 2024     REG       Wake Forest   L   79   83          -4
27  28  Wed Feb 28 2024     REG        Louisville   W   84   59          25
28  29   Sat Mar 2 2024     REG          Virginia   W   73   48          25
29  30   Mon Mar 4 2024     REG          NC State   W   79   64          15
30  31   Sat Mar 9 2024     REG    North Carolina   L   79   84          -5
31  32  Thu Mar 14 2024  CTOURN          NC State   L   69   74          -5
32  33  Fri Mar 22 2024    NCAA           Vermont   W   64   47          17
33  34  Sun Mar 24 2024    NCAA     James Madison   W   93   55          38
34  35  Fri Mar 29 2024    NCAA           Houston   W   54   51           3
35  36  Sun Mar 31 2024    NCAA          NC State   L   64   76         -12

    Score_diff_norm  Score_diff_ratio
0          0.260274          1.703704
1         -0.033113          1.068493
2          0.064748          1.138462
3          0.200000          1.500000
4          0.180124          1.439394
5          0.126761          1.290323
6         -0.032258          1.066667
7         -0.028571          1.058824
8          0.176471          1.428571
9          0.133758          1.308824
10         0.054054          1.114286
11         0.211429          1.536232
12         0.131579          1.303030
13         0.063492          1.135593
14         0.171875          1.415094
15         0.030675          1.063291
16        -0.025641          1.052632
17         0.092105          1.202899
18         0.006993          1.014085
19         0.069444          1.149254
20        -0.050847          1.107143
21         0.145161          1.339623
22         0.103448          1.230769
23         0.054795          1.115942
24         0.062937          1.134328
25         0.208633          1.527273
26        -0.024691          1.050633
27         0.174825          1.423729
28         0.206612          1.520833
29         0.104895          1.234375
30        -0.030675          1.063291
31        -0.034965          1.072464
32         0.153153          1.361702
33         0.256757          1.690909
34         0.028571          1.058824
35        -0.085714          1.187500

In [55]:
# Split the 'Record' column into 'Wins' and 'Losses'
final_records[['Wins', 'Losses']] = final_records['Record'].str.split('-', expand=True).astype(int)

# calculate final_records stats
#final_records["Score_diff"] = np.NaN
#final_records["Score_diff_norm"] = np.NaN
#for i in range(1,69):    
#    final_records["Score_diff"][i-1] = np.sum(game_records[i]['Score_diff'])
#    final_records["Score_diff_norm"][i-1] = np.sum(game_records[i]['Score_diff_norm'])

In [56]:
print(final_records)

    Seed            Team Record  Wins  Losses
0      1           UConn   31-3    31       3
1      2         Houston   30-4    30       4
2      3          Purdue   29-4    29       4
3      4  North Carolina   27-7    27       7
4      5       Tennessee   24-8    24       8
..   ...             ...    ...   ...     ...
63    64         Stetson  22-12    22      12
64    65     Montana St.  17-17    17      17
65    66       Grambling  20-14    20      14
66    67          Howard  18-16    18      16
67    68          Wagner  16-15    16      15

[68 rows x 5 columns]

In [57]:
#
#plt.plot(final_records["Seed"],final_records["Score_diff"])
#plt.plot(final_records["Seed"],150*final_records["Score_diff_norm"])
#plt.xlabel("Team Playoff Seed")
#plt.ylabel("Team Season Score differential")
#plt.title("Playoff Seed vs Score differential")

In [58]:

#plt.plot(final_records["Seed"],final_records["Score_diff_norm"])
#plt.xlabel("Team Playoff Seed")
#plt.ylabel("Team Season Score differential")
#plt.title("Playoff Seed vs Score differential")

In [59]:
# Define the structure of the NumPy array
dtype = [('Team', 'U50'), ('Elo', 'f8')]

# Create an empty NumPy array with the defined structure
elo_table = np.empty(0, dtype=dtype)
print(elo_table)

[]

In [60]:
c = 400 # some parameter (cannonical value?)
K = 20
start_elo = 1500
for game in range (0,31): #should be 31 games but #19 wisconsin has incomplete data
    for team in range (1,67): #67
        # grab game row
        current_table = game_records[team]
        # debug print statements
        # print(team)
        # print(game)
        team_name = final_records['Team'][team]
        team_elo = start_elo
        opponent_name = current_table["Opponent"][game]
        opponent_elo = start_elo
        # read opp elo
        if (opponent_name in elo_table['Team']):
            opponent_elo = elo_table[elo_table['Team'] == opponent_name]['Elo'][0]
        else:
            elo_table = np.append(elo_table, np.array([(opponent_name,start_elo)], dtype=dtype))
        # read team elo
        if (team_name in elo_table['Team']):
            team_elo = elo_table[elo_table['Team'] == team_name]['Elo'][0]
        else:
            elo_table = np.append(elo_table, np.array([(team_name,start_elo)], dtype=dtype))
        
        # update team elo
        E = 1/(1+10**((opponent_elo - team_elo)/c)) # expected chance of win
        ratio = current_table['Score_diff_ratio'][game]    
        
        # handle edge case 
        if(current_table['W/L'][game] == 'T'):
            continue
        if(current_table['W/L'][game] == 'W'):
            O = 1
            team_elo = team_elo + K * (O - E) * ratio
        else:
            O = 0
            team_elo = team_elo + K * (O - E) * ratio
        
        # Find the index of the team in the Elo table
        index = np.where(elo_table['Team'] == team_name)[0][0]
        # Update the Elo rating
        elo_table[index] = (team_name, team_elo) 

        # update opponent elo
        E = 1/(1+10**((team_elo - opponent_elo)/c)) # expected chance of win
        ratio = current_table['Score_diff_ratio'][game]    
        
        # handle edge case 
        if(current_table['W/L'][game] == 'T'):
            continue
        if(current_table['W/L'][game] == 'L'):
            O = 1
            opponent_elo = opponent_elo + K * (O - E) * ratio
        else:
            O = 0
            opponent_elo = opponent_elo + K * (O - E) * ratio
        
        # Find the index of the team in the Elo table
        index = np.where(elo_table['Team'] == opponent_name)[0][0]
        # Update the Elo rating
        elo_table[index] = (opponent_name, opponent_elo) 

print(elo_table)

[('Northern Arizona', 1461.2941088 ) ('Houston', 1761.59011632)
 ('Louisiana-Monroe', 1467.57595365) ('Purdue', 1784.43960061)
 ('Samford', 1611.29438754) ('North Carolina', 1740.35834291)
 ('Radford', 1495.99115394) ('Tennessee', 1693.0590379 )
 ('Tennessee Tech', 1465.72611501) ('Arizona', 1704.14416549)
 ('Morgan State', 1437.34145176) ('Marquette', 1629.50995276)
 ('Northern Illinois', 1458.65986681) ('Iowa St.', 1619.09182791)
 ('Green Bay', 1494.22915873) ('Baylor', 1655.12247101)
 ('Auburn', 1602.12122965) ('Creighton', 1636.17443061)
 ('Florida A&M', 1408.89297983) ('Kentucky', 1651.82493841)
 ('New Mexico State', 1457.6406763 ) ('Illinois', 1647.22974194)
 ('Eastern Illinois', 1450.16395399) ('Duke', 1655.43025712)
 ('Dartmouth', 1454.29748204) ('Kansas', 1652.15028939)
 ('North Carolina Central', 1476.84562266) ('Alabama', 1639.67941711)
 ('Morehead State', 1473.09859169) ('BYU', 1623.16999266)
 ('Houston Christian', 1435.04908354) ('San Diego St.', 1614.77355878)
 ('Cal State Fullerton', 1471.84844243) ('Wisconsin', 1595.08148761)
 ('Arkansas State', 1483.24491033) ("Saint Mary's", 1557.9990225 )
 ('Cal State Stanislaus', 1465.97201864) ('Gonzaga', 1687.44457513)
 ('Yale', 1646.21240263) ('Clemson', 1667.24736719)
 ('Winthrop', 1481.75364355) ('Texas Tech', 1599.50947032)
 ('East Texas A&M', 1434.2455408 ) ('South Carolina', 1631.35518633)
 ('South Carolina Upstate', 1508.2035847 ) ('Florida', 1625.64668755)
 ('Loyola (MD)', 1466.87813073) ('Washington St.', 1596.83671982)
 ('Idaho', 1480.85460117) ('Texas', 1590.06304035)
 ('Incarnate Word', 1472.00590546) ('Dayton', 1615.74540188)
 ('Southern Illinois-Edwardsville', 1496.33358151)
 ('Nebraska', 1635.54519483) ('Lindenwood', 1459.04023771)
 ('Utah St.', 1605.40118391) ('South Dakota Mines', 1480.23111952)
 ('Fla. Atlantic', 1659.39822482) ('Loyola (IL)', 1504.72909288)
 ('Mississippi St.', 1640.00817769) ('Arizona State', 1457.61520852)
 ('Michigan St.', 1560.75681345) ('James Madison', 1684.58189653)
 ('Texas A&M', 1560.80749314) ('TCU', 1521.52145362)
 ('Southern', 1439.18020615) ('Northwestern', 1564.2618748 )
 ('Binghamton', 1455.39571446) ('Nevada', 1606.87455444)
 ('Sacramento State', 1474.6122995 ) ('Boise St.', 1651.93665869)
 ('Vanguard', 1484.57130578) ('Colorado', 1614.64495256)
 ('Towson', 1471.40572662) ('Drake', 1619.37882159)
 ('Lipscomb', 1476.87312596) ('Virginia', 1625.89174801)
 ('Tarleton State', 1483.54675122) ('New Mexico', 1589.01772789)
 ('Texas Southern', 1431.03234607) ('Oregon', 1552.49849272)
 ('Georgia', 1430.60159858) ('Colorado St.', 1559.5877343 )
 ('Louisiana Tech', 1491.78079382) ('NC State', 1568.7748196 )
 ('The Citadel', 1462.9981379 ) ('Duquesne', 1505.55548445)
 ('Cleveland State', 1479.7334243 ) ('Grand Canyon', 1576.41496045)
 ('Southeast Missouri State', 1469.36669412)
 ('Michigan State', 1489.57683095) ('McNeese', 1693.85287898)
 ('Virginia Commonwealth', 1480.99733216) ('UAB', 1706.38986548)
 ('Bradley', 1496.28497819) ('Vermont', 1567.63082663)
 ('Merrimack', 1466.38265139) ('Vassar', 1480.75251745)
 ('Col. of Charleston', 1653.53265549) ('Iona', 1463.99959506)
 ('Oakland', 1624.06142525) ('Ohio State', 1513.0133083 )
 ('Akron', 1566.65459326) ('South Dakota State', 1500.77036841)
 ('Morehead St.', 1579.32651321) ('Colgate', 1627.1586074 )
 ('Brown', 1478.95211309) ('Long Beach St.', 1631.6375119 )
 ('Portland', 1451.27432604) ('Western Ky.', 1518.34580974)
 ('Kentucky Wesleyan', 1486.50637088) ('South Dakota St.', 1551.8287548 )
 ("Saint Peter's", 1569.68634121) ('Seton Hall', 1496.9160263 )
 ('Longwood', 1536.73802621) ('St. Bonaventure', 1476.14052628)
 ('Stetson', 1520.17244882) ('Trinity Baptist', 1480.98620865)
 ('Montana St.', 1556.6623811 )
 ('Northwest Indian College', 1484.4195676 ) ('Grambling', 1442.38067669)
 ('North Texas at Dallas', 1488.19214138) ('Howard', 1514.35207974)
 ('Stonehill', 1472.48727881) ('Texas A&M-Corpus Christi', 1456.51000481)
 ('Lehigh', 1473.08626752) ('Rider', 1480.23511216)
 ('John Brown', 1487.23244418) ('North Dakota State', 1477.8269929 )
 ('Manhattan', 1452.8323664 ) ('Southeastern Louisiana', 1486.9398038 )
 ('Indiana State', 1486.23826156) ('San Diego State', 1531.38649502)
 ('Brigham Young', 1561.57220907) ('Eastern Oregon', 1480.46079837)
 ('San Jose State', 1413.75962222) ('Virginia Tech', 1530.2889584 )
 ('Prairie View', 1441.18481747) ('Delaware State', 1481.52225752)
 ('Eastern Michigan', 1475.89945893) ('Tennessee-Martin', 1475.54183124)
 ('Southern Indiana', 1483.31972939) ('Omaha', 1468.89338374)
 ('Washington', 1470.36858196) ('San Francisco', 1443.49124561)
 ('Southwest Minnesota State', 1488.29750102)
 ("Saint Mary's (CA)", 1507.6379161 ) ('Montana', 1490.07079386)
 ('Wright State', 1484.37401654) ('Abilene Christian', 1489.79492889)
 ('College of Charleston', 1469.47121819) ('Kent State', 1455.33082037)
 ('College of Biblical Studies', 1469.47140759)
 ('SUNY-Plattsburgh', 1479.06237915)
 ('Southern Mississippi', 1492.56431898) ('Shawnee State', 1476.70569249)
 ('Syracuse', 1497.39479196) ('DePaul', 1408.95449534)
 ('Wichita State', 1490.47530493) ('Dakota Wesleyan', 1485.10185248)
 ('NJIT', 1487.38810332) ("St. Mary's (MD)", 1478.68154355)
 ('Nevada-Las Vegas', 1558.58906658) ('Seattle', 1518.20532964)
 ('Mississippi Valley State', 1436.33292031) ('Xavier', 1443.91086385)
 ('UC Riverside', 1446.28291326) ('Wofford', 1501.52936675)
 ('Idaho State', 1462.35152162) ('Gardner-Webb', 1487.02865157)
 ('Iowa', 1500.71473504) ('Notre Dame', 1464.3737459 )
 ('South Alabama', 1471.38303755) ('Long Beach State', 1498.92111885)
 ('Providence', 1508.9139823 ) ('Weber State', 1507.77144508)
 ('Davidson', 1474.93998554)
 ('Virginia Military Institute', 1463.95787636)
 ('Mississippi State', 1476.91331587) ('Rice', 1474.85326281)
 ('Louisiana State', 1471.09968793) ('Southern Utah', 1464.01237755)
 ('Bryant', 1494.33410407) ('North Alabama', 1479.83247123)
 ('Southern Methodist', 1469.21880045)
 ('Texas-Rio Grande Valley', 1468.84908136)
 ('Western Michigan', 1495.83365752) ('Pacific', 1439.91050412)
 ('Milwaukee', 1450.33731294) ('North Carolina A&T', 1464.9900135 )
 ('UT Arlington', 1447.089127  ) ('Tennessee State', 1471.49810519)
 ('Northern Colorado', 1476.5036926 )
 ('Charleston Southern', 1468.03643637) ('Stony Brook', 1444.45813196)
 ('Champion Christian', 1464.48730035) ('Maryland', 1468.7137666 )
 ('Loyola Marymount', 1434.24037234)
 ('Mississippi College', 1480.94312537)
 ('Bowling Green State', 1468.38954697) ('Heidelberg', 1482.13157741)
 ('Murray State', 1473.81053393) ('Kansas State', 1507.54891608)
 ('FDU', 1499.39837077) ('Maryland-Eastern Shore', 1474.58187135)
 ('California', 1479.33985426) ('Indiana', 1463.75719526)
 ('Northern Iowa', 1489.42194998) ('Belmont', 1489.84203466)
 ('UCLA', 1480.07339473) ('Kansas City', 1469.17996626)
 ('Valparaiso', 1461.65570954) ('Bucknell', 1459.11406225)
 ('Chaminade', 1487.22191297) ('Mercer', 1486.44418225)
 ('Robert Morris', 1467.64456011) ('Boise State', 1537.21197927)
 ('Villanova', 1498.81091724) ('Florida State', 1470.55019713)
 ('Rhode Island', 1458.72247712) ('Louisville', 1429.4920043 )
 ("St. John's (NY)", 1474.54408725) ('Marshall', 1443.04949084)
 ('Butler', 1497.1700642 ) ('Washington State', 1549.92135543)
 ('Oral Roberts', 1491.50872601) ('Richmond', 1507.3413858 )
 ('Stephen F. Austin', 1487.15910734) ('Toledo', 1495.16941465)
 ('Vanderbilt', 1439.75572223) ('Princeton', 1517.4437919 )
 ('LeTourneau', 1486.13013257) ('Alcorn State', 1434.70350886)
 ('Saint Louis', 1443.70867594) ('South Carolina State', 1477.37065505)
 ('Wyoming', 1461.71280442) ('Florida International', 1473.46839947)
 ('Michigan', 1409.741151  ) ('Kentucky State', 1488.23307336)
 ('UCF', 1506.33315371) ('Massachusetts-Lowell', 1494.39239161)
 ('Utah', 1506.67139698) ('Oregon State', 1443.93491004)
 ("Saint Joseph's", 1474.68329029) ('La Salle', 1470.99558371)
 ('Alabama A&M', 1470.28580523) ('Pittsburgh', 1511.71895487)
 ('Utah Tech', 1463.56125022) ('Connecticut', 1565.58956728)
 ('Penn State', 1480.5616381 ) ('Santa Clara', 1494.97493565)
 ('Boston College', 1445.02173978) ('Southern Illinois', 1475.07451032)
 ('Western Carolina', 1496.77680679) ('Middle Tennessee', 1476.22293829)
 ('Liberty', 1473.07509271) ('Alabama State', 1476.82397942)
 ('Coastal Carolina', 1464.19079132) ('Utah State', 1540.67097106)
 ('Illinois State', 1482.97478347) ('George Mason', 1502.37090643)
 ('Rutgers', 1488.78393751) ('Central Michigan', 1467.68291669)
 ('Iowa State', 1579.18264475) ('Arkansas', 1461.61465946)
 ('Colorado State', 1526.43468946) ('Western Illinois', 1458.17579044)
 ('Cal State Bakersfield', 1492.42496443)
 ('Eastern Washington', 1486.21328777) ('Youngstown State', 1469.71954788)
 ('Nicholls State', 1465.00905901) ('Florida Atlantic', 1530.02412429)
 ('West Virginia', 1453.98476441) ('Pepperdine', 1445.30690323)
 ('Mississippi', 1472.71578177) ('Fresno State', 1404.94187094)
 ('Texas State', 1462.65640046) ('Furman', 1500.08259598)
 ('Vermont State–Johnson', 1484.49045922) ('Bellarmine', 1468.03307186)
 ('Harvard', 1491.82198444) ('Canisius', 1489.98185759)
 ('Niagara', 1501.12942383) ('Lamar', 1477.005687  )
 ('Sam Houston', 1514.66348716) ('New Hampshire', 1468.50455141)
 ('Oklahoma State', 1432.67825888) ('Miami (FL)', 1449.02345833)
 ('Appalachian State', 1540.25348328)
 ('Point Loma Nazarene', 1488.67941028)
 ('Southern California', 1440.46851336)
 ('George Washington', 1473.83741036) ('Wake Forest', 1535.59670575)
 ('Portland State', 1486.30656485) ('Georgia Tech', 1495.85248212)
 ('Georgia Southern', 1466.04799093) ('Georgetown', 1440.53523159)
 ('UC Davis', 1482.32721261) ('UC Irvine', 1495.33898377)
 ('Buffalo', 1463.83262536) ('McNeese State', 1514.19228608)
 ('Midway', 1482.41443711) ('Louisiana', 1484.5928587 )
 ('UNC Asheville', 1493.98557   ) ('Mount Marty', 1486.76018437)
 ('Bethune-Cookman', 1455.17507914) ('Coastal Georgia', 1483.23190987)
 ('Rocky Mountain', 1510.06313748) ('Troy', 1500.0848933 )
 ('Northwestern State', 1455.16339099) ('UNC Wilmington', 1536.02676279)
 ('Evansville', 1469.00387473) ('UC San Diego', 1495.32249123)
 ('Arkansas-Pine Bluff', 1489.94262008) ('Detroit Mercy', 1458.74921289)
 ('North Texas', 1452.67402202) ('Missouri State', 1515.28085948)
 ('UTEP', 1491.63855356) ('Keystone', 1483.60690598)
 ('Austin Peay', 1471.66787794) ('Montana State', 1475.22186371)
 ('Campbellsville', 1487.74874977)
 ('Newport News-Apprentice', 1483.57026509)
 ('Chicago State', 1515.37242986) ('Pennsylvania', 1456.06456725)
 ('Charlotte', 1518.47844941) ('East Carolina', 1464.86702578)
 ('Minnesota', 1490.49041188) ('San Diego', 1454.82245111)
 ('Tulane', 1457.17497258) ('Western Oregon', 1486.08821885)
 ('UC Santa Barbara', 1512.41768659) ('California Baptist', 1469.06233481)
 ('Denver', 1484.2259867 ) ('Old Dominion', 1468.47461461)
 ('LaGrange', 1487.19571317) ('Purdue Fort Wayne', 1502.76892747)
 ('Northern Kentucky', 1480.61779044) ('Chattanooga', 1463.24252818)
 ('Vermont State–Lyndon', 1471.8487803 )
 ('Eastern Kentucky', 1458.40190126)
 ('Maryland-Baltimore County', 1472.9415087 )
 ('SAGU Amer. Indian Coll.', 1484.8155202 )
 ('Jackson State', 1462.65888789) ('Hofstra', 1472.1995826 )
 ('Missouri', 1405.54684577) ('Memphis', 1547.02283421)
 ('Northwest Nazarene', 1488.49576067) ('Hawaii', 1487.45625134)
 ('Northeastern', 1475.95602002) ('Hampton', 1480.82962949)
 ('Mississippi Univ. for Women', 1468.36081401)
 ('Fairfield', 1531.23957684) ('Miami-Hamilton', 1483.61296732)
 ('Life Pacific', 1487.51976974) ('Kean', 1489.62733614)
 ('Johnson (FL)', 1474.69235248) ('Oklahoma', 1457.51756962)
 ('St. Thomas', 1473.84454573) ('Georgia State', 1477.19267474)
 ('St. Katherine', 1488.14733784) ('Jacksonville State', 1472.52502911)
 ('Queens (NC)', 1482.66716378) ('Cincinnati', 1496.07070428)
 ('Temple', 1471.8651467 ) ('Colorado State-Pueblo', 1487.59883328)
 ('Coppin State', 1487.97022546) ('Montevallo', 1484.50811024)
 ('Colby-Sawyer', 1474.85509636)
 ('Saint Mary-of-the-Woods College', 1474.70230457)
 ('Mayville State', 1485.49222432) ('Gallaudet', 1489.23125361)
 ('Cal State Northridge', 1512.50796045) ('Jacksonville', 1468.74660583)
 ('Stanford', 1465.45231637) ('Elon', 1477.16263309)
 ('UNC Greensboro', 1472.36709484) ('North Dakota', 1469.85608138)
 ('Cleary University', 1483.7821467 )
 ('Bethesda University (CA)', 1488.51142238) ('Quinnipiac', 1495.20192239)
 ('Cal State Dominguez Hills', 1488.01518839)
 ('Norfolk State', 1501.30520021) ('Cornell', 1500.65662304)
 ('East Tennessee State', 1479.04633949)
 ('Florida Gulf Coast', 1518.73218687) ('Utah Valley', 1476.03133807)
 ('Eastern New Mexico', 1488.9067825 ) ('Adams State', 1487.45650775)
 ('Massachusetts', 1506.96250786) ('Montreat', 1484.64740094)
 ('Alice Lloyd', 1479.47376244) ("Mount St. Mary's", 1480.02110258)
 ('Air Force', 1440.97037982) ('Fresno Pacific', 1489.90407521)
 ('UTSA', 1484.04891921) ('Miami (OH)', 1523.60296725)
 ('South Florida', 1505.58804765) ('Ball State', 1491.89205844)
 ('Navy', 1479.83545705) ('Cal Poly', 1481.05424377)
 ('North Florida', 1506.81984677) ('Maine', 1482.24825077)
 ('Lafayette', 1504.05013757) ('Columbia', 1481.44149136)
 ('Monmouth', 1490.59957687) ('Kennesaw State', 1504.01736345)
 ('Army', 1479.68274829) ('Siena', 1475.29962849)
 ('Fordham', 1496.65734195) ('IU Indy', 1473.44404413)
 ('Ohio', 1506.49524238) ('Boston University', 1480.95889876)
 ('New Orleans', 1484.2378958 ) ('South Dakota', 1478.25461663)
 ('Marist', 1501.48293696) ('Campbell', 1480.2291986 )
 ('American', 1503.03476048) ('Presbyterian', 1480.34545047)
 ('Tulsa', 1482.4654192 ) ('Albany (NY)', 1482.61014123)
 ('William & Mary', 1483.17921577) ('High Point', 1503.1037637 )
 ('Central Arkansas', 1489.6170987 ) ('Drexel', 1490.95982592)
 ('Little Rock', 1513.83520639) ('Holy Cross', 1481.19328726)
 ('Delaware', 1490.85934855) ('Illinois-Chicago', 1493.14980267)]